* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --white: #fff;
  --white-2: #fafafa;
  --black: #000;
  --grey: #4d5254;
  --light-grey: #969696;
  --blue: #252f3d;
  --light-blue: #2c7ef8;
  --green-bar: #85bf55;
  --green: #59ae43;
  --red: #f82c2c;
  --yellow: #ffc000;
}

h1,
h2 {
  text-transform: capitalize;
  font-weight: 400;
}

h1 {
  color: var(--black);
  font-size: 32px;
  line-height: 48px;
}

h2 {
  color: var(--grey);
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  color: var(--black);
}

.top-header {
  background-color: var(--blue);
  padding: 15px 0px;
}

.top-header p {
  color: var(--white);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-bottom: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 1rem;
  width: 1rem;
}

.first-item {
  display: flex;
}

/* --- LOGOS --- */
.logos-container {
  padding: 20px;
  margin: 0px 20px;
}

.antivirus-logos {
  gap: 16px;
}

.clarifon-logo img,
.antivirus-logos img {
  max-height: 20px;
}

/* --- HEADER --- */
header {
  background-color: var(--white-2);
}

header h1 {
  margin-bottom: 24px;
  padding-top: 50px;
}

/* --- PROGRESS-BAR --- */
#progress-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  counter-reset: step;
  background-color: var(--white-2);
  padding: 24px;
}

#progress-bar li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

#progress-bar li:before {
  width: 20px;
  height: 20px;
  color: #212121;
  content: counter(step);
  counter-increment: step;
  line-height: 40px;
  font-size: 14px;
  border: 1px solid #efefef;
  display: block;
  text-align: center;
  margin: 0 20px 10px auto;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress-bar li:after {
  width: 100%;
  height: 10px;
  content: "";
  position: absolute;
  background-color: #fff;
  top: 25px;
  left: -50%;
  z-index: -1;
}

#progress-bar li:first-child:after {
  content: none;
}

#progress-bar li.step-done {
  color: var(--black);
}

#progress-bar li.step-done:before {
  border-color: var(--green-bar);
  background-color: var(--green-bar);
  color: #fff;
  background-image: url("./assets/tick-circle\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  background-size: contain;
}

#progress-bar li.step-done + li:after {
  background-color: transparent;
}

#progress-bar li.step-active {
  color: var(--black);
  font-weight: 700;
}

#progress-bar li.step-active:before {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
  color: var(--white);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress-bar li.step-todo:before {
  border-color: var(--light-blue);
  background-color: var(--white);
  color: var(--light-blue);
  font-weight: 700;
}

.main-content__container {
  background-color: var(--white-2);
  padding: 0px 20px;
}

/* --- MAIN CONTENT --- */
.right-column {
  row-gap: 24px;
}

.product-title {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 44.8px;
}

.product-title p {
  margin-bottom: 0;
}

.blue-text {
  color: var(--light-blue);
}

.product-detail:first-child {
  color: var(--black);
  font-size: 14px;
}

.product-detail .old-price {
  color: var(--light-grey);
  text-decoration: line-through;
}

.product-detail .new-price {
  font-size: 14px;
  font-weight: 600;
}

.product-detail .old-price {
  font-size: 10px;
}

.product-detail-image img {
  width: 80px;
}

.product-text-mobile {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  width: 90vw;
}

.stock p {
  color: #37465a;
  font-size: 12px;
}

.grey-text {
  color: var(--grey);
  line-height: 22px;
  font-size: 12px;
}

.bi-check2 {
  font-size: 28px;
}

.review-container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 24px;
  margin-top: 24px;
  width: 575px;
}

.review-container p {
  margin-top: 18px;
}

.bi-star-fill {
  color: var(--yellow);
  font-size: 18px;
}

.save-container {
  background-color: #edf3fd;
  padding: 12px 16px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
}

.green-btn {
  background-color: var(--green);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  padding: 16px 50px;
  width: 100%;
}

.green-btn .bi-arrow-right {
  padding-left: 16px;
  font-size: 16px;
}

.payments-container {
  border: 1px #cfcfcf solid;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 12px auto 20px auto;
  flex-direction: column;
}

.payments-container p,
.payments-container span {
  font-size: 12px;
  color: var(--grey);
}

.horizontal-divider {
  width: 100%;
  height: 100%;
  border: 1px #cfcfcf solid;
  margin: 12px 0px;
}

.lock-grey {
  margin-right: 8px;
}

.payments-container span {
  padding: 0px 8px;
  font-size: 14px;
}

.red-text {
  color: var(--red);
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}

/* --- FOOTER --- */
.footer {
  background-color: var(--blue);
  padding: 20px;
  margin-top: 50px;
  row-gap: 16px;
  justify-content: center;
}

.footer p {
  color: var(--white);
  font-size: 12px;
}

.divider {
  padding: 0px 12px;
  font-size: 16px;
}

/* --- MEDIA QUERIES --- */

@media (min-width: 1200px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  /* --- LOGOS --- */
  .logos-container {
    padding: 30px 130px;
    margin: auto;
  }

  .clarifon-logo img {
    max-height: 36px;
  }

  .antivirus-logos {
    gap: 32px;
  }

  .antivirus-logos img {
    max-height: 32px;
  }

  /* --- HEADER --- */
  header {
    background-color: var(--white);
    margin-bottom: 60px;
  }

  header h1 {
    padding-top: 0px;
  }

  /* --- PROGRESS-BAR --- */
  #progress-bar {
    background-color: var(--white);
    justify-content: space-evenly;
  }

  #progress-bar li,
  .grey-text,
  .product-detail .old-price,
  .stock p,
  .save-container,
  .footer p {
    font-size: 16px;
  }

  #progress-bar li.step-done:before {
    background-size: auto;
  }

  #progress-bar li.step-done:before,
  #progress-bar li.step-active:before,
  #progress-bar li.step-todo:before {
    margin-bottom: 0;
  }

  #progress-bar li:before {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }

  /* --- MAIN-CONTENT --- */
  .main-content__container {
    margin-top: 40px;
    margin-inline: auto;
    padding: 40px;
    max-width: 1300px;
    column-gap: 40px;
  }

  .right-column {
    row-gap: 32px;
  }

  .product-title {
    font-size: 32px;
  }

  .product-detail:first-child {
    color: var(--black);
    font-size: 20px;
  }

  .product-detail .new-price {
    font-size: 22px;
    font-weight: 600;
  }

  .product-detail-image img {
    width: 134px;
  }

  .green-btn {
    padding: 16px 64px;
  }

  .payments-container {
    flex-direction: row;
  }

  .horizontal-divider {
    display: none;
  }

  .red-text {
    font-size: 18px;
  }

  /* --- FOOTER --- */
  .footer {
    padding: 24px 100px;
    margin-top: 61px;
  }

  .divider {
    padding: 0px 16px;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  /* --- TOP-HEADER --- */
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* --- PROGRESS-BAR --- */
  #progress-bar li {
    display: flex;
    flex-direction: column;
  }

  #progress-bar li .hide {
    display: none;
  }

  /* ---MAIN-CONTENT --- */
  .guarantee-container img {
    width: 48px;
    height: 48px;
  }

  .save-container img {
    width: 24px;
    height: 24px;
  }
}